Repository mozilla/jira-bugzilla-integration, pull requests merged in 2022-11, with the labels that each got.

#306 Fix typo in flowstate configuration
  config/config.prod.yaml
Labels: configuration

#307 [config] adding FXDROID config
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#286 Enable syncing of Remote Settings server issues
  config/config.prod.yaml
Labels: configuration

#311 Force environment enum value representation
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  jbi/environment.py
  tests/unit/test_configuration.py
Labels: bug

#317 Fix #316: remove jbi_config_file query parameter
  jbi/configuration.py
  tests/conftest.py
  tests/unit/test_configuration.py
Labels: enhancement

#325 [FXDROID] updating status_map based on available status workflow on j…
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#326 Iss 301 status and resolution map
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#327 Fix #282: defaults user-agent to empty string in `request.summary`
  jbi/log.py
  tests/unit/test_main.py
Labels: bug
