Repository mozilla/jira-bugzilla-integration, pull requests merged in 2022-08, with the labels that each got.

#179 Ensure container runs as a CI check
  .dockerignore
  .github/workflows/build-publish.yaml
  bin/healthcheck.py
Labels: bug

#176 Move most modules to package at root level, rename from "src" to "jbi"
  .dockerignore
  .yamllint
  README.md
  asgi.py
  bin/lint.sh
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/__init__.py
  jbi/actions/README.md
  jbi/actions/__init__.py
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/app.py
  jbi/bugzilla.py
  jbi/configuration.py
  jbi/environment.py
  jbi/errors.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services.py
  jbi/static/styles.css
  jbi/templates/powered_by_template.html
  src/jbi/whiteboard_actions/README.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/bad-config.yaml
  tests/fixtures/bugzilla_action.py
  tests/fixtures/noop_action.py
  tests/unit/actions/__init__.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/app/__init__.py
  tests/unit/app/test_main.py
  tests/unit/app/test_sentry.py
  tests/unit/jbi/__init__.py
  tests/unit/jbi/whiteboard_actions/__init__.py
  tests/unit/test_bugzilla.py
  tests/unit/test_configuration.py
  tests/unit/test_main.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_services.py
Labels: python

#165 Add Jira permission check in heartbeat (fixes #105)
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/models.py
  jbi/services.py
  poetry.lock
  pyproject.toml
  tests/unit/test_router.py
Labels: enhancement

#183 Merge `bugzilla.py` module with `models.py`
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/bugzilla.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services.py
  tests/conftest.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_main.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: python, internal-change

#190 Add cbellini as contact for SNT
  config/config.prod.yaml
Labels: configuration

#186 Add workflow to check that PR has label(s)
  .github/workflows/labels.yaml
Labels: enhancement

#188 Non-fixed bug closing should also close jira items
  config/config.prod.yaml
Labels: configuration

#199 Avoid unnecessary typing imports
  jbi/__init__.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/services.py
Labels: internal-change

#205 Refactor some test fixtures / setup
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_configuration.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: internal-change

#208 Update pyproject.toml; python minimum version: 3.10
  pyproject.toml
Labels: bug, dependencies

#209 Updating querystring for logging.
  jbi/log.py
  tests/unit/test_main.py
Labels: internal-change

#206 Allow disabling syncing whiteboard fields to Jira. Fixes #201
  .secrets.baseline
  README.md
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/models.py
  tests/unit/actions/test_default.py
Labels: enhancement

#214 Bump v3.2.3
  jbi/app.py
  pyproject.toml
Labels: internal-change

#216 Use typed log contexts (fixes #211)
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/log.py
  jbi/models.py
  jbi/runner.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_runner.py
Labels: internal-change

#207 Update to remote-link title; use URL, set icon favicon url.
  jbi/actions/default.py
  pyproject.toml
Labels: enhancement

#222 Return 4XX response if no bug is provided (fixes #418)
  jbi/models.py
  jbi/runner.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: breaking-change

#225 Install `atlassian-python-api==3.27.0` from PyPI
  poetry.lock
  pyproject.toml
Labels: dependencies

#226 Update deps to remove warning
  poetry.lock
Labels: dependencies

#223 Fix extract_from_see_also() with None values
  jbi/models.py
  jbi/runner.py
  tests/unit/test_bugzilla.py
Labels: bug

#220 Reorganize calls to Bugzilla into a dedicated class in `services.py`
  jbi/actions/default.py
  jbi/models.py
  jbi/runner.py
  jbi/services.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_services.py
Labels: breaking-change, internal-change

#217 Implement Bugzilla REST API client (fixes #189, fixes #198)
  jbi/actions/default.py
  jbi/services.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/bugzilla_action.py
  tests/unit/test_services.py
Labels: internal-change

#224 Separate and "cache" services
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/environment.py
  jbi/router.py
  jbi/runner.py
  jbi/services.py
  jbi/services/__init__.py
  jbi/services/bugzilla.py
  jbi/services/common.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/__init__.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
  tests/unit/test_runner.py
Labels: internal-change

#228 Change Jira resolution field (fixes #200)
  .secrets.baseline
  README.md
  jbi/actions/default_with_assignee_and_status.py
  tests/conftest.py
  tests/unit/actions/test_default_with_assignee_and_status.py
Labels: enhancement

#230 Do not mutate the request object (fixes #227)
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/models.py
  jbi/runner.py
  tests/fixtures/bugzilla_action.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/test_bugzilla.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
Labels: breaking-change
