Repository mozilla/jira-bugzilla-integration, pull requests merged in 2022-09, with the labels that each got.

#233 Remove class inheritance between default and default with status and assignee (ref #77)
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  tests/unit/actions/test_default.py
Labels: internal-change

#235 Bump v3.3.0
  jbi/app.py
  pyproject.toml
Labels: internal-change

#237 Prod regression; temporary comment out. Need to determine issue with API call with icon_url to WEBEXT project
  jbi/actions/default.py
Labels: bug

#238 Version Bump: 3.3.1
  jbi/app.py
  pyproject.toml
Labels: internal-change

#244 Bump `atlassian-python-api` to 3.28.0, revert `145bcce`
  jbi/actions/default.py
  poetry.lock
  pyproject.toml
Labels: internal-change

#243 Bump v3.3.2
  jbi/app.py
  pyproject.toml
Labels: internal-change

#245 Add tests for Bugzilla update see_also field
  tests/unit/actions/test_default.py
  tests/unit/services/test_bugzilla.py
Labels: internal-change

#241 Add resolution mapping to `fidefe` project
  config/config.prod.yaml
Labels: configuration

#246 RRA: Toggle OFF private_bug synchronization
  config/config.prod.yaml
Labels: configuration

#253 Load default action steps from configuration
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_steps.py
Labels: enhancement, breaking-change
