Repository mozilla/jira-bugzilla-integration, pull requests merged in 2022-10, with the labels that each got.

#236 Chain operations instead of using nested conditions (with `:=` operators)
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/actions/test_steps.py
  tests/unit/test_runner.py
Labels: internal-change

#232 Split actions into reusable steps (fixes #213, fixes #77, embeds #233, #236, #253)
  .secrets.baseline
  README.md
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/README.md
  jbi/actions/default.py
  jbi/actions/default_with_assignee_and_status.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/bugzilla.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/test_default.py
  tests/unit/actions/test_default_with_assignee_and_status.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: internal-change

#276 Fix #240: log responses objects
  .secrets.baseline
  jbi/actions/default.py
  pyproject.toml
  tests/conftest.py
  tests/unit/actions/test_default.py
Labels: enhancement, internal-change

#283 Start migrating source code to strict typing
  jbi/app.py
  pyproject.toml
Labels: internal-change

#284 Add test for tag without trailing dash
  tests/unit/test_bugzilla.py
Labels: internal-change

#285 Rename components parameters to jira_components (follow-up #256)
  README.md
  config/config.local.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
Labels: enhancement

#293 Fix #292: Always fetch latest bug object from Bugzilla
  jbi/runner.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: bug

#295 Ref #228, #241, #294: remove resolution from FIDEFE
  config/config.prod.yaml
Labels: configuration

#296 Update app.py info
  jbi/app.py
Labels: documentation

#302 Remove GeckoView Team tag
  config/config.prod.yaml
Labels: configuration
