Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-05, with the labels that each got.

#491 Remove Jira Component for DENG integration
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: breaking-change

#490 Ref #471: Fix phrasing in documentation
  docs/actions.md
Labels: documentation

#494 [deng] reduce customization of jbi workflow
  config/config.prod.yaml
Labels: configuration

#499 Convert `InstrumentedClient` class to decorator
  jbi/services/bugzilla.py
  jbi/services/common.py
  jbi/services/jira.py
  tests/conftest.py
  tests/unit/services/test_bugzilla.py
  tests/unit/services/test_jira.py
Labels: enhancement

#504 Mention SRE team in SECURITY.md
  SECURITY.md
Labels: documentation

#507 Fix #345: Retry `ConnectionError` in Jira client
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Labels: bug

#503 Log HTTP errors responses of Jira client
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Labels: enhancement

#472 Fix #475, #382: Fix lookup of actions when tag contains dash
  README.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_bugzilla.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: bug, enhancement, configuration

#510 Fix #505: add missing bits of SysEng quality standards
  CONTRIBUTING.md
  README.md
  docs/adrs/001-actions-reusability.md
  docs/adrs/template.md
Labels: documentation

#512 Revert "Remove Jira Component for DENG integration"
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#516 Fix #382: retry login requests to Bugzilla
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Labels: bug

#522 Fix #415: ignore events when Jira issue is not readable by bot
  jbi/runner.py
  jbi/services/jira.py
  tests/unit/test_runner.py
Labels: bug

#520 Fix #518: add `maybe_update_components`
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Labels: enhancement

#527 Fix #517: decouple labels from `create_issue` and `update_issue` steps
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Labels: enhancement

#534 Replace Dependabot automation with reusable syseng action
  .github/workflows/dependabot-automerge.yaml
Labels: dependencies

#540 Fix #210: do not always overwrite summary
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Labels: bug

#539 Fix #393: keep existing labels on Jira issue
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/fixtures/factories.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
Labels: bug

#526 Add config for OMC Jira project
  config/config.prod.yaml
Labels: configuration

#528 Add issue form for adding config for new sync
  .github/ISSUE_TEMPLATE/new-config.yaml
Labels: documentation

#542 Fix #532: monitor queues health
  jbi/models.py
  jbi/router.py
  jbi/services/bugzilla.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Labels: enhancement

#543 Fix errors observed after v4.4.0 release
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/models.py
  jbi/runner.py
  jbi/services/jira.py
  tests/conftest.py
  tests/fixtures/bugzilla_action.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
Labels: bug
