Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-12, with the labels that each got.

#784 Handle exceptions in `bugzilla.logged_in`
  jbi/services/bugzilla.py
Labels: bug

#780 Fix #768: log validation exceptions (`HTTP 422`)
  jbi/app.py
  tests/unit/test_app.py
Labels: enhancement

#782 Add `rid` to logs with `asgi-correlation-id`
  asgi.py
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  poetry.lock
  pyproject.toml
  tests/fixtures/factories.py
  tests/unit/services/test_jira.py
  tests/unit/test_app.py
Labels: enhancement

#792 Properly provide project keys to `Jira.paginated_projects`
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Labels: bug

#793 Use permissions param in `permitted_projects` request
  jbi/services/jira.py
  tests/unit/services/test_jira.py
Labels: bug

#786 Replace formatting tools and `pylint` with `ruff`
  .pre-commit-config.yaml
  .yamllint
  Makefile
  asgi.py
  bin/lint.sh
  jbi/models.py
  jbi/services/__init__.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_environment.py
  tests/unit/test_runner.py
Labels: enhancement

#794 Allow coercion of numbers to strings in `BugzillaWebhookEventChange`
  jbi/models.py
  tests/unit/test_models.py
Labels: bug

#795 New structure for Jira and Bugzilla clients + services
  jbi/bugzilla/__init__.py
  jbi/bugzilla/client.py
  jbi/bugzilla/service.py
  jbi/common/__init__.py
  jbi/common/instrument.py
  jbi/jira/__init__.py
  jbi/jira/client.py
  jbi/jira/service.py
  jbi/router.py
  jbi/runner.py
  jbi/services/__init__.py
  jbi/steps.py
  tests/conftest.py
  tests/unit/bugzilla/__init__.py
  tests/unit/bugzilla/test_client.py
  tests/unit/jira/__init__.py
  tests/unit/jira/test_client.py
  tests/unit/jira/test_service.py
  tests/unit/test_router.py
  tests/unit/test_steps.py
Labels: internal-change

#796 Mark all pydantic models as `frozen`
  jbi/bugzilla/service.py
  jbi/log.py
  jbi/models.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/jira/test_client.py
  tests/unit/jira/test_service.py
  tests/unit/test_app.py
  tests/unit/test_configuration.py
  tests/unit/test_models.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Labels: internal-change
