Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-03, with the labels that each got.

#395 Fix #181: check webhooks status in heartbeat
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
  tests/unit/test_router.py
Labels: enhancement

#435 Upgrade Poetry, relock lockfile
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
Labels: dependencies

#439 [DISCO] Adding new configuration
  config/config.prod.yaml
Labels: configuration

#447 Update id of `dependabot-metadata` step
  .github/workflows/dependabot-automerge.yaml
Labels: enhancement

#448 Rename job id of linting check
  .github/workflows/lint.yaml
Labels: internal-change

#451 Using Annotation to reduce duplication of Depends-logic in router.py
  jbi/router.py
Labels: dependencies
