Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-02, with the labels that each got.

#383 [fxp][config] update 'status_map' to reflect current jira workflow
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#391 [sp3][config] Add configuration for the Speedometer 3 project
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#380 [docs] Updates to Readme
  README.md
Labels: documentation

#396 Pass Bugzilla API key in request header instead of query param
  jbi/services/bugzilla.py
  tests/unit/services/test_bugzilla.py
Labels: enhancement

#398 Fix #344: add request id to logs
  jbi/app.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  tests/fixtures/factories.py
  tests/unit/test_app.py
Labels: enhancement

#406 [JB] Update nonprod pattern to solely use JB in nonproduction jira--reach out to JSM to update transitions/states for the JB project when looking to test new jira projects
  config/config.nonprod.yaml
Labels: configuration, internal-change
