Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-01, with the labels that each got.

#357 Add additional parameters to the FXCM project
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#359 Flip default config value `enabled` to `true`
  .secrets.baseline
  README.md
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/models.py
  tests/fixtures/bad-config.yaml
Labels: configuration

#360 Bump Poetry version in Dockerfile
  Dockerfile
Labels: dependencies, docker

#363 Ignore `__lbheartbeat__` requests in Sentry
  jbi/app.py
  poetry.lock
  pyproject.toml
  tests/unit/test_app.py
Labels: internal-change

#369 [fxdroid] Updating status_map to reflect Jira Workflow naming
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: bug, configuration

#376 [jbi] comment data lost when bugzilla api call refreshes bug data.
  jbi/runner.py
Labels: bug, internal-change

#379 [config] Adding FXP config for Performance team
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration
