Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-06, with the labels that each got.

#555 Fix #552: do not match tags if not surrounded by dashes
  jbi/models.py
  tests/unit/test_bugzilla.py
Labels: bug

#562 Update FXDROID config for Reopened tickets
  config/config.prod.yaml
Labels: configuration

#565 FXP: add maybe_update_components
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#566 Rename SNT to SNG (but keep old tag)
  config/config.prod.yaml
Labels: configuration

#557 Fix #554: configurable issue type
  .github/ISSUE_TEMPLATE/new-config.yaml
  docs/actions.md
  jbi/actions/steps.py
  jbi/models.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
  tests/unit/services/test_jira.py
Labels: enhancement

#559 Fix #521: do not add brackets on issue labels by default
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/actions/steps.py
  tests/unit/actions/test_steps.py
Labels: enhancement

#556 Fix #525: OMC: configure issue type and status maps
  config/config.prod.yaml
Labels: configuration

#583 Use `get_project` to retrieve project issue types
  jbi/services/jira.py
  tests/unit/test_router.py
Labels: bug

#585 Fix typos causing bugs
  config/config.prod.yaml
  jbi/services/jira.py
Labels: bug

#580 Fix #578: remove mention of 'allow_private'
  config/config.nonprod.yaml
  docs/actions.md
  docs/troubleshooting.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/unit/actions/test_steps.py
  tests/unit/test_bugzilla.py
  tests/unit/test_runner.py
Labels: internal-change

#589 Rename Jira component for Remote Settings
  config/config.prod.yaml
Labels: configuration

#588 Remove flowstate configuration
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#577 Ref #541: introduce `IncompleteStepError` to distinguish step early exit from handled errors
  jbi/actions/default.py
  jbi/actions/steps.py
  jbi/errors.py
  jbi/models.py
  jbi/services/jira.py
  tests/unit/actions/test_steps.py
Labels: internal-change

#591 Limit action customization to step functions and remove notion of "custom actions"
  config/config.prod.yaml
  docs/actions.md
  docs/adrs/002-action-customizaiton.md
  docs/deployment.md
  jbi/actions/README.md
  jbi/actions/__init__.py
  jbi/actions/default.py
  jbi/app.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  jbi/services/jira.py
  jbi/steps.py
  tests/conftest.py
  tests/fixtures/bad-config.yaml
  tests/fixtures/factories.py
  tests/fixtures/noop_action.py
  tests/unit/actions/__init__.py
  tests/unit/actions/test_default.py
  tests/unit/services/test_jira.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Labels: internal-change

#602 Fix #600: catch 400 in `maybe_update_components`
  jbi/steps.py
  tests/unit/test_steps.py
Labels: bug

#599 SP3: add maybe_update_components
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#603 Use a custom fixture to capture and filter logs
  tests/conftest.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Labels: internal-change

#608 Fix #605: drop support of tag prefixes
  jbi/models.py
  tests/unit/test_models.py
Labels: enhancement, breaking-change

#607 Fix #604: Add product prefix to components for `maybe_update_components`
  config/config.local.yaml
  config/config.nonprod.yaml
  config/config.prod.yaml
  docs/actions.md
  jbi/models.py
  jbi/services/jira.py
  jbi/steps.py
  tests/unit/services/test_jira.py
  tests/unit/test_models.py
  tests/unit/test_steps.py
Labels: enhancement
