Repository mozilla/jira-bugzilla-integration, pull requests merged in 2023-11, with the labels that each got.

#726 Update config.prod.yaml adding ads-eng whiteboard tag to sync to AE Jira project
  config/config.prod.yaml
Labels: configuration

#740 Add `documentation` label to any PR for Markdown
  .github/labeler.yml
Labels: enhancement

#739 Polish onboarding documentation
  README.md
Labels: documentation

#742 Install dependencies with `make install` in CI steps
  .github/workflows/ci.yaml
  Makefile
Labels: internal-change

#735 Add resolution map for FXP, PCF, and SP3
  config/config.prod.yaml
Labels: configuration

#747 Revert "Add resolution map for FXP, PCF, and SP3 (#735)"
  config/config.prod.yaml
Labels: configuration

#752 Add instrumentation for step functions and `CREATE`, `UPDATE`, and `COMMENT` operations
  jbi/runner.py
  tests/unit/test_runner.py
Labels: enhancement

#761 Use enum to differentiate different results of running a step
  jbi/errors.py
  jbi/runner.py
  jbi/steps.py
  tests/unit/test_runner.py
  tests/unit/test_steps.py
Labels: bug

#764 Fix Pydantic deprecation warnings
  jbi/models.py
  jbi/services/bugzilla.py
  tests/unit/test_app.py
  tests/unit/test_models.py
  tests/unit/test_router.py
Labels: internal-change

#767 Start process to improve Jira logging
  jbi/services/jira.py
  pyproject.toml
  tests/unit/services/test_jira.py
  tests/unit/test_steps.py
Labels: internal-change
