Repository mozilla/jira-bugzilla-integration, pull requests merged in 2024-04, with the labels that each got.

#934 Add new priority and severity sync steps to FXCM project.
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#935 Update config.prod.yaml for GENAI project
  config/config.prod.yaml
Labels: configuration

#937 Remove severity step due to error
  config/config.nonprod.yaml
  config/config.prod.yaml
Labels: configuration

#918 Add Dead Letter Queue class, integrate into heartbeat
  .env.example
  .secrets.baseline
  jbi/app.py
  jbi/bugzilla/models.py
  jbi/environment.py
  jbi/queue.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/jira/test_queue.py
  tests/unit/test_environment.py
  tests/unit/test_router.py
Labels: enhancement

#938 Group pip updates pull-requests and add GH Actions updates
  .github/dependabot.yml
Labels: dependencies

#924 Adding retry process for dead letter queue
  .env.example
  .secrets.baseline
  Makefile
  docker-compose.yaml
  jbi/environment.py
  jbi/queue.py
  jbi/retry.py
  tests/unit/test_retry.py
Labels: enhancement

#953 Fix GHA labeler config
  .github/labeler.yml
Labels: github_actions

#939 Adding queue to bugzilla webhook route
  .gitignore
  jbi/router.py
  jbi/runner.py
  tests/conftest.py
  tests/unit/test_app.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
  tests/unit/test_runner.py
Labels: enhancement

#954 Adding log formatter to retry process
  jbi/retry.py
Labels: enhancement

#955 Switching retry log to sys.stdout
  jbi/retry.py
Labels: bug

#957 Fix #956: add default UTC timezone to queue items
  jbi/bugzilla/models.py
  tests/unit/jira/test_queue.py
Labels: bug

#962 GenAI: remove duplicated step
  config/config.prod.yaml
Labels: configuration

#959 Fix #958: add more logging fields to retry job exceptions
  jbi/queue.py
  jbi/retry.py
  jbi/runner.py
Labels: enhancement

#775 ADR - Options to prevent bugzilla from pausing webhook calls
  docs/adrs/003-bucket.drawio.jpg
  docs/adrs/003-bugzilla-response-codes.md
  docs/adrs/003.drawio.jpg
Labels: documentation

#968 Ref #967: Add queue parsing check in heartbeat
  .env.example
  jbi/queue.py
  tests/unit/jira/test_queue.py
Labels: enhancement

#961 Fix #960: add endpoint to view queue content
  jbi/router.py
  tests/conftest.py
  tests/unit/test_environment.py
  tests/unit/test_router.py
Labels: enhancement

#964 Fix #963: Remove unused code
  jbi/queue.py
  tests/unit/jira/test_queue.py
Labels: enhancement

#970 Fix #969: force message on HTTPError when empty
  jbi/jira/client.py
  tests/unit/jira/test_queue.py
  tests/unit/test_runner.py
Labels: enhancement

#973 Adding exception log to queue dockerflow check
  jbi/queue.py
Labels: bug

#974 Update/dockerflow 2024.04.2, separate queue checks
  jbi/app.py
  jbi/queue.py
  poetry.lock
  pyproject.toml
  tests/unit/jira/test_queue.py
  tests/unit/test_router.py
Labels: bug

#979 Remove failing step from GENAI
  config/config.prod.yaml
Labels: configuration

#985 Logging a warning when we try to remove a file but cannot find it
  jbi/queue.py
Labels: enhancement
