Repository mozilla/jira-bugzilla-integration, pull requests merged in 2024-09, with the labels that each got.

#1039 Updated GENAI config to sync priority, severity, points, and labels
  config/config.prod.yaml
Labels: configuration

#1040 try adding support for status mapping
  config/config.prod.yaml
Labels: configuration

#1042 Specify non-default severity field for GENAI
  config/config.prod.yaml
Labels: configuration

#1045 Fixing dependabot PR check
  .github/workflows/ci.yaml
Labels: github_actions

#1051 Fix #1043: use customfield_10319 as default severity field
  config/config.prod.yaml
  jbi/models.py
  tests/unit/test_steps.py
Labels: enhancement, configuration
