Repository mozilla/jira-bugzilla-integration, pull requests merged in 2024-03, with the labels that each got.

#890 Run formatting and remove `ruff` warnings
  bin/lint.sh
  jbi/__init__.py
  jbi/app.py
  jbi/common/instrument.py
  jbi/configuration.py
  jbi/environment.py
  jbi/jira/service.py
  jbi/log.py
  jbi/models.py
  jbi/router.py
  jbi/runner.py
  pyproject.toml
  tests/conftest.py
Labels: internal-change

#889 Fix #247 #464: add `maybe_update_issue_priority` and `maybe_update_issue_severity` steps
  docs/actions.md
  jbi/jira/service.py
  jbi/models.py
  jbi/steps.py
  tests/unit/jira/test_service.py
  tests/unit/test_steps.py
Labels: documentation, enhancement

#891 Fix #248: add `maybe_update_issue_points` step
  jbi/bugzilla/models.py
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Labels: enhancement

#899 Support removal of mapped field
  jbi/models.py
  jbi/steps.py
  tests/unit/test_steps.py
Labels: bug

#898 Sync priority, severity, and issues points in FIDEFE project
  config/config.prod.yaml
Labels: configuration

#912 Bug 1884727 - Make omc config update issue points
  config/config.prod.yaml
Labels: configuration
