Repository mozilla/jira-bugzilla-integration, pull requests merged in 2024-05, with the labels that each got.

#986 Fix #983: use `operation=handle` in log context when fetching Jira issue
  jbi/runner.py
Labels: enhancement

#987 Fix #977: use Github flavoured markdown for converting comments
  jbi/jira/utils.py
  tests/unit/jira/test_utils.py
Labels: bug

#988 Fix #971: raise if bug info cannot be fetched from Bugzilla
  jbi/bugzilla/client.py
  jbi/runner.py
  tests/unit/bugzilla/test_client.py
  tests/unit/test_runner.py
Labels: bug

#993 Fix #991: add original request id to queue items
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  tests/unit/jira/test_queue.py
  tests/unit/test_retry.py
  tests/unit/test_router.py
Labels: enhancement

#994 Ref #991: remove print() and add retry log
  jbi/retry.py
  jbi/runner.py
  tests/unit/test_retry.py
Labels: enhancement

#1000 Account for ignorable payloads in retry script, try to prevent them in runner
  jbi/retry.py
  jbi/runner.py
  tests/unit/test_retry.py
  tests/unit/test_runner.py
Labels: bug

#1001 Update fxsync in config.prod.yaml
  config/config.prod.yaml
Labels: configuration

#1007 Resolves #1002 - adding autograph config
  config/config.prod.yaml
Labels: configuration
