Repository mozilla/jira-bugzilla-integration, pull requests merged in 2025-03, with the labels that each got.

#1109 Run multiple actions when multiple whiteboard tags
  README.md
  jbi/models.py
  jbi/runner.py
  tests/conftest.py
  tests/fixtures/factories.py
  tests/unit/test_runner.py
Labels: documentation

#1113 Fix casing in Dockerfile
  Dockerfile
Labels: docker

#1117 CI - Explicitely ignore gha creds
  .dockerignore
Labels: docker

#1120 Add comments for changes in the FXP and PCF projects
  config/config.prod.yaml
Labels: configuration

#1121 Synchronize bugzilla issues to new Jira project
  config/config.prod.yaml
Labels: configuration
