Repository mozilla/jira-bugzilla-integration, pull requests merged in 2025-01, with the labels that each got.

#1086 [nonprod] Introduce bad configuration to test GCP retry queue and alerting
  config/config.nonprod.yaml
Labels: configuration

#1091 Fixes #1090 - Removing a point value from bugzilla should set jira's point value to 0
  jbi/models.py
  jbi/queue.py
  tests/unit/test_retry.py
  tests/unit/test_steps.py
Labels: bug

#1094 Add FOG Migration mirroring to JIRA
  config/config.prod.yaml
Labels: configuration

#1095 Add a custom JIRA component to FOG migration mirroring
  config/config.prod.yaml
Labels: configuration

#1098 Update components and issue status for FOG Migration
  config/config.prod.yaml
Labels: configuration

#1099 Add a status mapping for FOG migration
  config/config.prod.yaml
Labels: configuration

#1097 Fixes #1096 - Ignores '---' values for mapped fields on create
  jbi/steps.py
  tests/unit/test_steps.py
Labels: bug

#1102 Remove the resolution step for FOG migration
  config/config.prod.yaml
Labels: configuration

#1101 Show method + URL on Jira exceptions
  jbi/jira/client.py
  tests/unit/test_runner.py
Labels: enhancement

#1103 Attempt to update status before resolution on PCF project
  config/config.prod.yaml
Labels: configuration

#1104 Fix #1100: Fix steps and add a 'jbi lint' command to make sure we don't fall into this anymore
  bin/lint.sh
  config/config.nonprod.yaml
  config/config.prod.yaml
  jbi/__main__.py
  jbi/app.py
  jbi/bugzilla/__init__.py
  jbi/configuration.py
  jbi/jira/service.py
  jbi/models.py
  jbi/queue.py
  jbi/retry.py
  jbi/router.py
  jbi/runner.py
  jbi/steps.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/test_steps.py
Labels: configuration
